# for tests, set the API keys
# https://console.anthropic.com/settings/keys
anthropic_api_key=
# https://platform.openai.com/api-keys
openai_api_key=
# https://dash.voyageai.com/api-keys
voyageai_api_key=